<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="input.css">
    <title>Document</title>
</head>
<body>
    <h1 class="underline">aaaaaaa{{ aluno.matricula }}</h1>
<ul>
    <li>Projetos e programas: {{ aluno.ace1 }}</li>
    <li>Cursos e eventos: {{ aluno.ace2 }}</li>
    <li>Prestação de serviços: {{ aluno.ace3 }}</li>
    <li>Disciplinas extensionista: {{ aluno.ace4 }}</li>
    <li>Total de horas: {{ aluno.horas }}</li>
</ul>
</body>
</html>